<div class= "comment clearfix">
<div class= "s3-comment">
<p><em> <%= comment.name %> </em></p>
<p><%= comment.body %></p>
<p> <%= time_ago_in_words(comment.created_at) %> ago</p>
</div>
<p>
<%= link_to 'delete', [comment.post, comment], method: :delete, class: "w3-btn", data: {confirm: 'are you sure?'}%>
</p>

</div>