<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>$ound3asement!</title>
</head>

<body class="w3-deep-purple">

    <div class="w3-display-container w3-deep-purple w3-center">
    
        <h1>Welcome to the $ound3asement!</h1>
        <p>A Music Marketplace for all your audio needs.</p>
        <%= image_tag("s3img/audio.jpg", :class => "w3-image dividerImg") %>
    </div>

    <div class="w3-container w3-center w3-margin-right w3-margin-left">
    
                <h2>Quality Audio</h2>
                <p>This is a community music marketplace that allows people to buy and sell, Beats, Loops,
                 VSTi’s (virtual instruments), VST’s (plugins), Acapellas, Full Tracks, Open Verses, and One Shots.</p>
  <%= image_tag("s3img/89695-200.png",:class => "w3-image dividerImg") %>
                <h2>Our Goal</h2>
                <p>The main focus of the Website is to provide anyone with the tools to create music from any point in their musical career.
                 This includes free packs, collaboration opportunities, label signing, how to’s, shortcuts, and ways to improve your work.
                 We are commited to the community, Even though 10% of eaach sale is deducted, 5% goes to running the site and 5% goes to community foundations.</p>
   
            <%= image_tag("s3img/star.png",:class => "w3-image dividerImg0") %>
                <h2>Our Future</h2>
                <p>We want to be able to provide Tutorials, Mixing and Mastering services, Publishing services, 
                and streaming monetization services, a Community Tab for artist/fan interaction, 
                and a forum tab for overall community discussion in the very near future. </p>
          
    </div>

</body>

</html>